<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgw5YNxG3DEFxd07U7Fa8iA0IZ9fT6djo</string>
	<key>GCM_SENDER_ID</key>
	<string>475220792855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hack</string>
	<key>PROJECT_ID</key>
	<string>medease-52e61</string>
	<key>STORAGE_BUCKET</key>
	<string>medease-52e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475220792855:ios:40f92a12c887b09975ee52</string>
</dict>
</plist>